<div class="social-icons">
  {#{ social_content }#}
  <ul class="social-icons__list">
    <li class="social-icons__item">
      <a class="social-icons__icon icon-facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ site_url }}" target="_blank" title="{{ site.name }}"><span class="fa fa-facebook">&#32;</span></a>
    </li>
    <li class="social-icons__item">
      <a class="social-icons__icon icon-twitter" href="http://www.twitter.com/share?url={{ site_url }}" target="_blank" title="{{ site.name }}"><span class="fa fa-twitter">&#32;</span></a>
    </li>
    <li class="social-icons__item">
      <a class="social-icons__icon icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&#38;url={{ site_url }}&#38;title={{ site.name }}&#38;summary=&#38;source=" target="_blank"><span class="fa fa-linkedin">&#32;</span></a>
    </li>
  </ul>
</div>