{% extends 'layout.twig' %}

{% block content %}
  {% if title_option != "on" %}
    <h1 id="page-title">
      {{ page_title }}
    </h1>
  {% endif %}

  {#{ app.request.get('hotel_childs_age') }#}

  {#{ posts|print_r }#}
  {% for post in posts %}
  <div class="post-item">
    <h3>{{ post.title }}</h3>
    <div class="post-infor">
      <div class="js-quicktab">
        <ul>
        {% for type in post.get_field('tour_type') %}
          <li><a href="#{{ type.value }}">{{ type.label }}</a></li>
        {% endfor %}
        </ul>
        <div id="standard">{{ post.get_field('tour_price_for_standard') }}</div>
        <div id="comfort">{{ post.get_field('tour_price_for_comfort') }}</div>
        <div id="luxury">{{ post.get_field('tour_price_for_luxury') }}</div>
      </div>
      <div>{{ post.get_field('tour_for_days_start') }}</div>
      <div>{{ post.get_field('tour_for_days_end') }}</div>
    </div>
  </div>  
  {% endfor %}
  
  {{ function('flexible_content', 'group_component') }}
{% endblock %}
