<div class="hero-banner-wrapper front-banner" style="min-height: 100vh;">
  <div class="hero-banner-media banner-overlay">
    <div class="hero-banner-slider">
    {% for item in post.get_field('post_gallery') %}
      <div class="front-banner-image" style="background-image: url({{ item.image_link }}); min-height: 100vh;">&#32;</div>   
    {% endfor %}
    </div>
  </div>

  <div class="hero-banner-body">
    <div class="container">
      <div class="row">
        <div class="hero-banner-body-left col-lg-5">
          <h1 id="page-title">{{ post.title|lower }}</h1>
          <div class="post-description">{{ post.get_field('description') }} <span class="learn-more">{{ __('learn more', 'pdj_theme') }}</span></div>
        </div>

        <div class="scroll-next-block col-lg-2">
          <span class="scroll-icon">&#32;</span>
        </div>

        <div class="hero-banner-body-right col-lg-5">
          <div class="hero-banner-control">
            {% for item in post.get_field('post_gallery') %}
              <div class="hero-banner-control-item" style="background-image: url({{ item.image_link }}); height: 60px; width: 60px;">&#32;</div>   
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="main-content">
  <div class="container">
    <div class="main-single">
      <div  class="main-single-header">
        {# Main Tabs #}
        <div class="main-single-tabs">
          <ul>
            <li><a href="#overview">{{ __('Overview', 'pdj_theme') }}</a></li>
            <li><a href="#rooms">{{ __('Rooms', 'pdj_theme') }}</a></li>
            <li><a href="#reviews">{{ __('Reviews', 'pdj_theme') }}</a></li>
            <li><a href="#photos">{{ __('Photos', 'pdj_theme') }}</a></li>
            <li><a href="#map">{{ __('Map', 'pdj_theme') }}</a></li>
          </ul>
        </div>
        <div class="main-single-tabs main-single-tabs-verticle">
          <ul>
            <li><a href="#overview">{{ __('Overview', 'pdj_theme') }}</a></li>
            <li><a href="#rooms">{{ __('Rooms', 'pdj_theme') }}</a></li>
            <li><a href="#reviews">{{ __('Reviews', 'pdj_theme') }}</a></li>
            <li><a href="#photos">{{ __('Photos', 'pdj_theme') }}</a></li>
            <li><a href="#map">{{ __('Map', 'pdj_theme') }}</a></li>
          </ul>
        </div>

        {# Filter Rooms #}
        <div class="main-single-filter block-search-service">
          <form id="form-hotel" class="form-hotel">
            <div class="group-items daterange_picker">
              <div class="form-item">
                <label for="hotel_date_checkin">{{ __('Date Check In', 'pdj_theme') }}</label>
                <input type="text" name="hotel_date_checkin" class="hotel_date_checkin date-start" placeholder="{{ __('Check In', "pdj_theme") }}">
              </div>
              <div class="form-item">
                <label for="hotel_date_checkout">{{ __('Date Check Out', 'pdj_theme') }}</label>
                <input type="text" name="hotel_date_checkout" class="hotel_date_checkout date-end" placeholder="{{ __('Check Out', "pdj_theme") }}">
              </div>
            </div>

            <div class="group-items group-items-dropdown">
              <label class="show-on-mobile">{{ __('Rooms Order', 'pdj_theme') }}</label>
              <div class="form-item">
                <label for="hotel_order">{{ __('Rooms Order', 'pdj_theme') }}</label>
                <div class="form-text-dropdown">
                  <span class="hotel-order-alias">
                    <span class="hotel_room">1</span> {{ __('Rooms', 'pdj_theme') }}
                    <span class="hotel_people">1</span> {{ __('People', 'pdj_theme') }}
                    <span class="hotel_extra_bed">0</span> {{ __('Extra Bed', 'pdj_theme') }}
                  </span>
                  <span class="form-dropdown-icon fa fa-caret-down">&#32;</span>
                </div>
              </div>

              <div class="form-dropdown">
                <div class="form-item">
                  <input type="hidden" name="hotel_room" value="1" placeholder="1" class="js_spinner hotel_room">
                  <span class="form-alias"><span class="form-count">1</span> {{ __('Rooms', 'pdj_theme') }}</span>
                </div>
                <div class="form-item">
                  <input type="hidden" name="hotel_extra_bed" value="0" placeholder="0" class="js_spinner js_spinner_zero hotel_extra_bed">
                  <span class="form-alias"><span class="form-count">0</span> {{ __('Extra Bed', 'pdj_theme') }}</span>
                </div>
                <div class="form-item">
                  <input type="hidden" name="hotel_people" value="1" placeholder="1" class="js_spinner hotel_people">
                  <span class="form-alias"><span class="form-count">1</span> {{ __('People', 'pdj_theme') }}</span>
                </div>
                <div class="form-item">
                  <input type="hidden" name="hotel_childs" value="0" placeholder="0" class="js_spinner js_spinner_zero hotel_childs">
                  <span class="form-alias"><span class="form-count">0</span> {{ __('Childs', 'pdj_theme') }}</span>
                </div>

                <div class="form-item form-item-childs-age hidden">
                  <label>{{ __('Childs Age', 'pdj_theme') }}</label>
                  <select name="hotel_childs_age" class="hotel_childs_age" disabled>
                    <option value="" checked>{{ __('- Select -', 'pdj_theme') }}</option>
                    <option value="< 1">&#60; 1</option>
                  {% for item in 1..17 %}
                    <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
                  </select>
                </div>

                <div class="form-item hotel_childs_age_list"></div>
              </div>
            </div>

            <div class="form-item form-action">
              <a href="#" class="btn btn-primary">{{ __('Find', 'pdj_theme') }}</a>
            </div>
          </form>
        </div>
      </div>

      <div id="overview">
        <div class="row hotel-overview-row hotel-overview-information">
          <div class="col-md-6 hotel-overview-col hotel-information">
            <div class="block-hotel-title">
              <h3 class="hotel-title">{{ post.title|lower }}</h3>
              {% if post.get_field('hotel_star') %}
                <ul class="hotel-star">
                {% for item in 1..5 %}
                  {% if loop.index <= post.get_field('hotel_star') %}
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  {% else %}
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  {% endif %}
                {% endfor %}
                </ul>
              {% endif %}
            </div>

            {% if post.get_field('address') %}
              <div class="hotel-address">
                {{ post.get_field('address') }}
              </div>
            {% endif %}

            <div class="hotel-rating-viewing">
              <div class="hotel-rating">Excellent (8.2 | 12,564 reviews)</div>
              <div class="hotel-viewing">153 viewing</div>
            </div>

            <div class="hotel-service js-accordion">
              {% if post.get_field('internet_access_services') %}
              <h3 class="hotel-service-title internet-access-services"><span class="accordion-header">{{ __("internet access", "pdj_theme") }}</span><span class="accordion-icon-custom"></span></h3>
              <div class="hotel-service-content">
                {% set internet_access_services_arr = post.get_field('internet_access_services')|split(';') %}
                <ul class="hotel-service-list">
                {% for item in internet_access_services_arr %}
                  <li class="hotel-service-item">{{ item|trim }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}

              {% if post.get_field('relax_services') %}
              <h3 class="hotel-service-title relax-services"><span class="accordion-header">{{ __("things to do, ways to relax", "pdj_theme") }}</span><span class="accordion-icon-custom"></span></h3>
              <div class="hotel-service-content">
                {% set relax_services_arr = post.get_field('relax_services')|split(';') %}
                <ul class="hotel-service-list">
                {% for item in relax_services_arr %}
                  <li class="hotel-service-item">{{ item|trim }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
              
              {% if post.get_field('dining_drinking_snacking_services') %}
              <h3 class="hotel-service-title dining-drinking-snacking-services"><span class="accordion-header">{{ __("dining, drinking and snacking", "pdj_theme") }}</span><span class="accordion-icon-custom"></span></h3>
              <div class="hotel-service-content">
                {% set dining_drinking_snacking_services_arr = post.get_field('dining_drinking_snacking_services')|split(';') %}
                <ul class="hotel-service-list">
                {% for item in dining_drinking_snacking_services_arr %}
                  <li class="hotel-service-item">{{ item|trim }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}  
              
              {% if post.get_field('conveniences_services') %}
              <h3 class="hotel-service-title conveniences-services"><span class="accordion-header">{{ __("services and conveniences", "pdj_theme") }}</span><span class="accordion-icon-custom"></span></h3>
              <div class="hotel-service-content">
                {% set conveniences_services_arr = post.get_field('conveniences_services')|split(';') %}
                <ul class="hotel-service-list">
                {% for item in conveniences_services_arr %}
                  <li class="hotel-service-item">{{ item|trim }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}  
              
              {% if post.get_field('kids_services') %}
              <h3 class="hotel-service-title kids-services"><span class="accordion-header">{{ __("for the kids", "pdj_theme") }}</span><span class="accordion-icon-custom"></span></h3>
              <div class="hotel-service-content">
                {% set kids_services_arr = post.get_field('kids_services')|split(';') %}
                <ul class="hotel-service-list">
                {% for item in kids_services_arr %}
                  <li class="hotel-service-item">{{ item|trim }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}  

              {% if post.get_field('getting_around_services') %}
              <h3 class="hotel-service-title getting-around-services"><span class="accordion-header">{{ __("getting around", "pdj_theme") }}</span><span class="accordion-icon-custom"></span></h3>
              <div class="hotel-service-content">
                {% set getting_around_services_arr = post.get_field('getting_around_services')|split(';') %}
                <ul class="hotel-service-list">
                {% for item in getting_around_services_arr %}
                  <li class="hotel-service-item">{{ item|trim }}</li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}              
            </div>
          </div>
          <div class="col-md-6 hotel-overview-col hotel-map">
            {% if post.get_field('address_coordinates') %}
              {% include "block_map_detail.twig" with {'address': post.get_field('address_coordinates')} %}
            {% endif %}
          </div>
        </div>
      </div>

      <div id="rooms">
        <h3 class="hotel-title">{{ __("Rooms", "pdj_theme") }}</h3>
        <div class="room-type">
          {% for room in post.get_field('room_type') %}
            {% if loop.index < 4 %}
              {% include 'room-item.twig' with {'room': room} %}
            {% endif %}
          {% endfor %}

          {% if post.get_field('room_type')|length > 3 %}
            <div class="room-type-load-more">
              {% for room in post.get_field('room_type') %}
                {% if loop.index > 3 %}
                  {% include 'room-item.twig' with {'room': room} %}
                {% endif %}
              {% endfor %}
            </div>
            <a href="#" class="show-more" data-text-hide="{{ __('Show Less', 'pdj_theme') }}">{{ __('Show More', 'pdj_theme') }}</a>
          {% endif %}
        </div>
      </div>

      <div id="reviews">
        {% set location_point = random(range(9, 10, 0.1)) %}
        {% set service_point = random(range(9, 10, 0.1)) %}
        {% set room_point = random(range(9, 10, 0.1)) %}
        {% set bf_point = random(range(8.5, 10, 0.1)) %}
        {% set comfort_point = random(range(8.5, 10, 0.1)) %}
        {% set average = (location_point + service_point + room_point + bf_point + comfort_point) / 5 %}
        {% set review_arr = [{'label': 'location', 'value': location_point}, {'label': 'service', 'value': service_point}, {'label': 'room', 'value': room_point}, {'label': 'breakfast', 'value': bf_point}, {'label': 'comfort', 'value': comfort_point}] %}

        <h3 class="hotel-title">{{ __("Guest reviews of ", "pdj_theme") }} <span>{{ post.title|lower }}</span></h3>
        <div class="hotel-reviews-comments js-quicktab">
          <ul class="hotel-quicktab-header">
            <li><a href="#hotel-reviews"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> {{ __('Reviews', 'pdj_theme') }}</a></li>
            <li><a href="#hotel-comments"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{ __('Comments', 'pdj_theme') }}</a></li>
          </ul>

          <div class="hotel-quicktab-content">
            <div class="row">
              <div class="reviews-total col-lg-4">
                <div id="hotel-average" class="process-circle" data-value="{{ average|number_format(1) }}" data-text="{{ __('Excellent', 'pdj_theme') }}">{{ average|number_format(1) }}</div>
              </div>

              <div class="col-lg-8">
                <div id="hotel-reviews">
                  <div class="reviews-list">
                    {% for item in review_arr %}
                      {% set review_label = item.label|replace('_', ' ') %}
                      {% if item.value|number_format() > 8 %}
                        {% set review_meassage = __('Great', 'pdj_theme') %}
                        {% set value_status = 'process-good' %}
                      {% else %}
                        {% set review_meassage = __('need to improve', 'pdj_theme') %}
                        {% set value_status = 'process-bad' %}
                      {% endif %}

                      <div class="review-{{ item.label|lower }} review-item">
                        <label class="review-label">{{ __(review_label, 'pdj_theme') }}</label>
                        <div class="process-bar review-process-bar"><span class="process-value {{ value_status }}" style="width: {{ item.value * 10 }}%"></span></div>
                        <div class="review-value {{ value_status }}">{{ item.value }}</div>
                        <div class="review-meassage">{{ review_meassage }} {{ __(review_label, 'pdj_theme') }}</div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div id="hotel-comments">
                  {% include 'comments-facebook.twig' with {'post': post} %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="photos">
        <h3 class="hotel-title">{{ __("Photos", "pdj_theme") }}</h3>
        <ul class="hotel-photo-list clearfix">
        {% for item in post.get_field('post_gallery') %}
        <li class="hotel-photo--item">
          <a class="hotel-photo--image" href="{{ item.image_link }}" data-fancybox="images" data-caption="{{ post.title }}" style="background-image: url({{ item.image_link }});"></a>
        </li>
        
        {% endfor %}
        </ul>
      </div>

      <div id="hotel-around">
        <h3 class="hotel-title">{{ __("Other hotels around", "pdj_theme") }}:</h3>
        <div class="hotel-around-filter">
          <select class="js-select2 filter-by-price">
            <option>{{ __("Filter by Price", "pdj_theme") }}</option>
            <option value="htl">{{ __("Hight to Low", "pdj_theme") }}</option>
            <option value="lth">{{ __("Low to Hight", "pdj_theme") }}</option>
          </select>
          <select class="js-select2 filter-by-area">
            <option>{{ __("Filter by Area", "pdj_theme") }}</option>
            <option value="nearest">{{ __("Nearest", "pdj_theme") }}</option>
          </select>
        </div>
        <div class="hotel-around-content">
          {% if function('related', 'hotel_area') %}
            <div class="hotel-related row">
              {% for related in function('related', 'hotel_area', 4) %}
                {% include 'related-hotel.twig' with {'post': related, 'default_bg': default_bg} only %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      
      <div id="map">

      </div>

      <div id="room-detail"></div>
    </div>
  </div>
</div>
