<div class="block block-hot-area {{ component_class }}">
  <div class="container">
    <h2 class="block-title title-center">{{ hot_area_title }}</h2>
    <div class="block-content">
    {% if hot_area_list %}
      <div class="block-hot-area-list clearfix">
      {% for item in hot_area_list %}
        <div class="block-hot-area-item">
          <div class="block-hot-area-image" style="background-image: url({{ item.area_image.url }});">
            <img src="{{ item.area_image.url }}">
          </div>
          <div class="block-hot-area-content">
            <h3 class="block-hot-area-name">{{ item.area_map_title.address }}</h3>
            <div class="block-hot-area-link">
              <a class="block-hot-area-hotel" href="{{ function('home_url') }}/search-service/?hotel_area={{ item.area_map_title.address }}" target="_blank"><span class="fa fa-search">&#32;</span> {{ __('Hotel', 'pdj_theme') }}</a>
              <a class="block-hot-area-flyticket" href="{{ function('home_url') }}/search-service/?fly_start={{ current_locate.city }}&#38;fly_destination={{ item.area_map_title.address }}" target="_blank"><span class="fa fa-search">&#32;</span> {{ __('Fly Ticket', 'pdj_theme') }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>