<div class="block block-testtimonials {{ component_class }}" {% if testtimonials_background_image %}style="background-image: url({{testtimonials_background_image.url}})"{% endif %}>
  <div class="container">
    <h2 class="block-title title-center">{{ testtimonials_title }}</h2>
    <div class="block-content">
    {% if testtimonials_list %}
      <div class="testtimonials-list jcarousel-slider-1-item">
      {% for item in testtimonials_list %}
        <div class="testtimonials-item">
          <div class="testtimonials-quote">{{ item.testtimonial_content }}</div>
          <cite class="testtimonials-author">
            <div class="testtimonials-author-picture"><img src="{{ item.testtimonials_picture.url }}"></div>
            <div class="testtimonials-author-infor">
              <div class="testtimonials-author-name">{{ item.testtimonials_author }}</div>
              <div class="testtimonials-author-jobs">{{ item.testtimonials_jobs }}</div>
            </div>
          </cite>
        </div>
      {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>