{% block header %}
  <header id="header" class="header">
    <div class="container">
      <div class="container-inner clearfix">
        <div class="header__left">
          <div class="header__logo">
            {#{function('the_custom_logo')}#}
            <a href="{{ site.url }}" id="logo" class="logo">
                <img alt="{{ site.name }}" src="{{ site_logo }}" alt="{{ site.name }}">
            </a>
          </div>
        </div>

        <div class="header__right">
          {#% if header_widget %}
          <div class="header__right--block">
          {% for key, header in header_widget %}
            {{ function('acfwidget', 'header_blocks', 'header_widget-' ~ key ) }}
          {% endfor %}
          </div>
          {% endif %#}
          <div id="header-navigation" class="header__navigation">
            {% include "navigation.twig" %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
