<form id="form-tours" class="form-tours" name="form-tours" method="GET" action="{{ function('home_url') }}/search-service">
  <div class="form-item">
    <label for="tour_type">{{ __('Tour Type', 'pdj_theme') }}</label>
    <input type="text" name="tour_type" class="tour_type">
  </div>
  <div class="form-item">
    <label for="tour_start">{{ __('Start', 'pdj_theme') }}</label>
    <input type="text" name="tour_start" class="tour_start date-time-picker">
  </div>
  <div class="form-item">
    <label for="tour_destination">{{ __('Destination', 'pdj_theme') }}</label>
    <input type="text" name="tour_destination" class="tour_destination">
  </div>
  <div class="form-item">
  <button class="btn btn-primary" type="submit" form="form-tours" value="Find">{{ __('Find', 'pdj_theme') }}</button>
  </div>
</form>