<div class="social-wrapper">
  <div class="social-icons">
    <ul class="social-icons__list">
      {% if facebook == 'true' %}
      <li class="social-icons__item">
        <a class="social-icons__icon icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&#38;url={{ permalink }}&#38;title={{ title }}&#38;summary=&#38;source=" target="_blank">{{ __('linkedin', 'pdj_theme') }}</a>
      </li>
      {% endif %}
      {% if facebook == 'true' %}
      <li class="social-icons__item">
        <a class="social-icons__icon icon-facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ permalink }}" target="_blank">{{ __('facebook', 'pdj_theme') }}</a>
      </li>
      {% endif %}
      {% if facebook == 'true' %}
      <li class="social-icons__item">
        <a class="social-icons__icon icon-twitter" href="http://www.twitter.com/share?url={{ permalink }}" target="_blank">{{ __('twitter', 'pdj_theme') }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
